DATABASE_URL=""
DIRECT_URL=""

# Cloudinary CDN Credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT Authentication
JWT_SECRET=
JWT_EXPIRES_IN=

# Internal FastAPI Compute Host
FASTAPI_URL=http://127.0.0.1:8000

# Logging:
warn: hides routine request logs; use info or debug when troubleshooting
info: shows all requests and responses
debug: shows all requests, responses, and internal server logs
LOG_LEVEL=warn
